* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
font-family: "gal-gothic-variable", sans-serif;
font-variation-settings: "wght" 300;

}

@font-face {
  src: url(fonts/NeueHaasUnica-Light.woff) format('woff');
  font-family: 'Light';
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  src: url(fonts/NeueHaasUnica-Regular.woff) format('woff');
  font-family: 'Regular';
  font-style: normal;
  font-weight: normal;
} */

/* @font-face {
  font-family: Bold;
  src: url(fonts/NeueHaasUnica-Bold.ttf);
} */

body {
  position: relative;
  height: 100%;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: "gal-gothic-variable", Helvetica, sans-serif;
  cursor: url("images/cursor1.png"), auto;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}


h1 {
  font-size: 30px;
  color: black;
  text-indent: 2em;
  line-height: 34.5px;
  font-family: "gal-gothic-variable";
}


#preload1 {
	background: url("images/1.jpg") no-repeat;
	display: none;
	}
  #preload2 {
  	background: url("images/2.jpg") no-repeat;
  	display: none;
  	}
    #preload3 {
    	background: url("images/3.jpg") no-repeat;
    	display: none;
    	}
      #preload4 {
      	background: url("images/4.jpg") no-repeat;
      	display: none;
      	}
        #preload5 {
        	background: url("images/5.jpg") no-repeat;
        	display: none;
        	}
          #preload6 {
          	background: url("images/6.jpg") no-repeat;
          	display: none;
          	}
            #preload7 {
            	background: url("images/7.jpg") no-repeat;
            	display: none;
            	}
              #preload8 {
              	background: url("images/8.mp4") no-repeat;
              	display: none;
              	}
                #preload9 {
                  background: url("images/9.jpg") no-repeat;
                  display: none;
                  }


a {
  font-size: 12px;
  line-height: 14px;
  color: black;
  font-family: "gal-gothic-variable" !important;
}

a:hover {
  cursor: url("images/cursor2.png"), auto;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  color: black;
  line-height: 12px;
  font-family: "Light";
}

h3 {
  font-size: 14px;
  color: black;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "gal-gothic-variable";
}

h4 {
  font-size: 14px;
  color: black;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-family: "gal-gothic-variable";
}

p {
  font-size: 12px;
  color: black;
  line-height: 14px;
  font-family: "gal-gothic-variable";
}


#BlackOverlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  mix-blend-mode: difference;
  display: none;
  pointer-events: none;
  z-index: 3;
}

#MainContainer {
  position: relative;
  overflow-y: visible;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

/* statement and cross --------------------------------------*/

.top {
  width: 100%;
  height: 38.2vh;
  display: flex;
}

#statement {
  display: none;
  flex: 8;
  margin-left: 20px;
  margin-top: 15px;
  pointer-events: none;
  user-select: none;
}

button:hover {
  cursor: url("images/cursor2.png"), auto;
}

.crossholder {
  position: relative;
  flex: 5;
  margin-right: 0px;
  margin-top: 0px;
  pointer-events: all;
  /* background-color: pink; */
}

#cross {
  /*button */
  display: none;
  position: fixed;
  pointer-events: all;
  top: 0;
  right: 0;
  padding-top:20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  border: none;
  background-color: transparent;
  z-index: 1000;
  cursor: url("images/cursor2.png"), auto;
  /* background-color: orange; */
}

/* mid page header --------------------------------------*/

.bottom{
  position: relative;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

#LillySkipperWrapper {
  position: relative;
  flex: 5;
  pointer-events: none;
}

#LillySkipper {
  position: absolute;
  pointer-events: all;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 30px 10px 0px 20px;
}

#SelectedWorkWrapper {
  position: relative;
  pointer-events: none;
  flex: 2;
}

#SelectedWork {
  position: absolute;
  pointer-events: all;
  border: none;
  background-color: transparent;
  padding: 30px 10px 0px 10px;
}

#InfoWrapper {
  position: relative;
  pointer-events: none;
  flex: 1;
}

#Info {
  position: absolute;
  text-decoration: none;
  right: 0;
  pointer-events: all;
  border: none;
  background-color: transparent;
  padding: 30px 20px 0px 10px;
}

#Info:hover {
  pointer-events: all;
}

#CVinfo {
  display: none;
  pointer-events: none;
  position: absolute;
  pointer-events: none;
  border: none;
  background-color: transparent;
  text-align: left;
  user-select: none;
  padding: 30px 10px 0px 20px;
}

#CVinfoMobile {
  display: none;
  pointer-events: none;
  position: absolute;
  pointer-events: none;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 30px 10px 0px 10px;
}

#Instagram {
  pointer-events: all;
}

#Email {
  pointer-events: all;
}

#TextArea {
  display: none;
}


/* info content----------------------------------- */

#infoDropdown{
  position: absolute;
  display: none;
  overflow-y: visible;
  width: calc(100vw - 20px);
  height: calc(61.8vh - 45px);
  justify-content: space-between;
  margin-top: calc(110px + 16px * 6);
  margin-left: 20px;
  pointer-events: scroll;
  user-select: none;
}

.col1 {
  flex: 2;
  padding-right: 10px;
}

.col2 {
  flex: 2;
  padding-right: 10px;
  padding-left: 10px;
}

.col3 {
  flex: 2;
  padding-left: 10px;
}

.colFlex {
  display: flex;
}

.indentor {
  position: relative;
  margin-right: 2em;
}

.indented {
  position: relative;
}

/* slideshow --------------------------------------*/

.description {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-self: flex-end;
  align-items: flex-end;
}

.descriptionwhite {
  color: white !important;
  position: absolute;
  width: 100%;
  Height: 8%;
  bottom: -15%;
}

#desc {
  display: flex;
}

#index {
  display: flex;
}

#slider {
  display: relative;
}

.slide {
  position: absolute;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: grey; */
  overflow: hidden;
}

.slide1::before {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/1.jpg");
  /* background-color: pink; */
}

.slide2::before {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/2.jpg");
  /* background-color: pink; */
}

.slide3::before {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/3.jpg")
}

.slide4 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/4.jpg")
}

.slide5 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/5.jpg")
}

.slide6 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/6.jpg")
}

.slide7 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/7.jpg")
}

.slide8 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  /* background-image: url("images/8.jpg") */
}

#backgroundVideo {
  max-width: 100%;
  height: auto;
  transform-origin: center;
  object-fit: scale-down;
}

.slide9 {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: scale(0.7,0.7);
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-image: url("images/9.jpg")
}

#NextImage {
  position: absolute;
  display: block;
  height: 100vh;
  width: 50vw;
  bottom: 0%;
  right: 0;
  cursor: url("images/outline_arrow_next.png"), auto;
  overflow: hidden;
}

#PrevImage {
  position: absolute;
  height: 100vh;
  width: 50vw;
  bottom: 0%;
  left: 0;
  cursor: url("images/outline_arrow_prev.png"), auto;
  overflow: hidden;
}



/*
@media (max-width: 1400px) {
  h1 {
    font-size: 24px;
    color: black;
    text-indent: 3em;
    line-height: 27px;
    font-family: "Light";
  } */


@media (max-width: 1440px) {

  h5 {
    font-size: 21px;
    color: black;
    /* text-indent: 3.2em; */
    line-height: 22px;
    letter-spacing: -0.045em;
    font-family: "gal-gothic-variable";
  }

  h1 {
    font-size: 24px;
    color: black;
    text-indent: 3em;
    line-height: 27px;
    font-family: "gal-gothic-variable";
  }
  .crossholder {
    position: relative;
    flex: 1;
    margin-right: 0px;
    margin-top: 0px;
  }

  #infoDropdown{
    position: absolute;
    display: none;
    /* flex-direction: row;  */
    /* flex-wrap: wrap; */
    overflow-y: visible;
    width: calc(100vw - 20px);
    height: calc(61.8vh - 45px);
    justify-content: space-between;
    margin-top: calc(110px + 16px * 6);
    margin-left: 20px;
    pointer-events: scroll;
    user-select: none;
    /* background-color: grey; */
  }

  .bottom{
    position: relative;
    flex-direction: column;
  }


  .col1 {
    flex: 2;
    padding-right: 10px;
  }

  .col2 {
    flex: 2;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col3 {
    flex: 2;
    padding-left: 10px;
  }

  #cross {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    border: none;
    background-color: transparent;
    z-index: 1000;
  }
}

/* .slide1::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide2::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide3::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide4::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide5::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide6::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide7::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide8::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide8::before {
  content: " ";
  transform: scale(0.7,0.7);
}

.slide9::before {
  content: " ";
  transform: scale(0.7,0.7);
} */

/* ____________________________________________________________________________------
Mobile         */




@media (max-width: 800px) {


  #MainContainer {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-position: center center;
    height: 100svh;
    width: 100vw;
  }

html {
    height: -webkit-fill-available;
  }


body{
    height: -webkit-fill-available;
    /* overflow: hidden; */
}

/* set text  */
  h1 {
    font-size: 21px;
    color: black;
    text-indent: 0em;
    line-height: 22px;
    letter-spacing: -0.045em;
    font-family: "gal-gothic-variable";
    }

    h3 {
      font-size: 10px;
      color: black;
      line-height: 13px;
      letter-spacing: 0em;
      font-family: "gal-gothic-variable";
    }


    h4 {
      font-size: 10px;
      color: black;
      line-height: 13px;
      letter-spacing: -0.045em;
      font-family: "gal-gothic-variable";
      }

    h5 {
      font-size: 21px;
      color: black;
      /* text-indent: 3.2em; */
      line-height: 22px;
      letter-spacing: -0.045em;
      font-family: "gal-gothic-variable";
    }

/* set elements */
    .top {
      position: fixed;
      display: block;
      block-size: fit-content;
      top: -10px;
      /* top: calc(-10px + 70px); */
      height: 61.8svh;
      width: 100%;
      /* display: flex; */
      /* background-color: beige; */
    }

    /* #NextImage {
      display: none;
    }

    #PrevImage {
      display: none;
    } */

    #statement {
        flex: 6;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: calc(38.9svh / 2);
        cursor: url("images/Jack_Cursor.png"), auto;
        pointer-events: none;
        user-select: none;
        /* z-index: 1000; */
        /* background-color: grey; */
      }

    .crossholder {
      display: none!important;
      position: relative;
      flex: 0;
      margin-right: 0px;
      margin-top: 0px;
    }

    #cross {
      display: none!important;
      position: absolute;
      top: 0;
      right: 0;
      padding-top:20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 30px;
      border: none;
      background-color: transparent;
      z-index: 1000;
    }

    .bottom{
      position: relative;
      flex-direction: column;
    }

    .header {
      position: relative;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      margin-left: 0px;
      margin-right: -10px;
      z-index: 2;
      pointer-events: none;
      user-select: none;
    }

    #LillySkipperWrapper {
      position: relative;
      flex: 5;
      pointer-events: none;
    }

    #LillySkipper {
      position: absolute;
      pointer-events: all;
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 10px 0px 0px 10px;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      -moz-appearance: none;
      appearance: none;
    }

    #SelectedWorkWrapper {
      position: relative;
      pointer-events: none;
      flex: 2;
    }

    #SelectedWork {
      /*button */
      position: absolute;
      pointer-events: all;
      border: none;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
      padding: 10px 0px 0px 0px;
    }

    #SelectedWork:hover {
    }


    #InfoWrapper {
      display: none;
      position: relative;
      pointer-events: none;
      flex: 1;
    }

    #Info {
      display: none;
      position: absolute;
      text-decoration: none;
      right: 0;
      pointer-events: all;
      border: none;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
      padding: 10px 10px 0px 0px;
    }

    #Info:hover {
      pointer-events: all;
    }

    /* #CVinfo {
      display: none!important;
      pointer-events: none;
      position: absolute;
      pointer-events: none;
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 30px 10px 0px 10px;
    } */

    #CVinfoMobile {
      display: block;
      pointer-events: none;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      bottom: 10px;
      width: 500px;
      pointer-events: all!important;
      border: none;
      /* background-color: yellow; */
      text-align: left;
      overflow: hidden;
    }

    #insta {
      position: relative;
      display: inline-flex;
      /* block-size: */
      /* background-color: red; */

    }

    #Instagram {
      pointer-events: all!important;
    }

    #Email {
      pointer-events: all;
    }


    /* info content----------------------------------- */

    #infoDropdown{
      position: absolute;
      display: none;
      flex-direction: column;
      /* overflow-y: scroll; */
      width: calc(100vw - 20px);
      height: calc(81vh - 20px);
      margin-bottom: 20px;
      justify-content: space-between;
      margin-left: 10px;
      pointer-events: all;
      user-select: all;
    }

    #infoDropdown:after{
        content: "";
        box-shadow: inset whitesmoke 0em 0em 2em 3em;
        position:fixed;
         left: -50px;
         width: 130%;
         height: calc(81vh);
         overflow: hidden;
    }

      #slider{
        /* position: absolute; */
        top: 0;
        overflow: hidden;
        /* background-color: pink; */
      }

      .slide {
        position: absolute;
        display: flex;
        background-repeat: no-repeat;
        background-size: contain;
        height: calc(100svh - 30px);
        width: calc(100vw - 20px);
        top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        /* background-color: grey; */
        /* overflow: hidden; */
      }

      .slide1::before {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/1.jpg");
        /* background-color: pink; */
      }

      .slide2::before {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/2.jpg");
        /* background-color: pink; */
      }

      .slide3::before {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/3.jpg")
      }

      .slide4 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/4.jpg")
      }

      .slide5 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/5.jpg")
      }

      .slide6 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/6.jpg")
      }

      .slide7 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/7.jpg")
      }

      .slide8 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        /* background-image: url("images/8.jpg") */
      }

      #backgroundVideo {
        max-width: 100%;
        height: 100%;
        transform-origin: center;
        object-fit: scale-down;
      }

      .slide9 {
        content: " ";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transform: scale(1,1);
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;
        background-image: url("images/9.jpg")
      }
